<div class="list-filters" data-components="listFilter">

  <div class="filter-headline">
    <span class="title"><%= t 'lists.filters.title' %></span>
    <div class="toggle-panel <%= I18n.locale %>" data-toggle="collapsed"><%= icon('chevron-down', t('js.lists.expand')) %></div>
  </div>

  <div class="filter-form">
    <%= render 'shared/lists/filter_form', list_filter: list_filter %>
  </div>

</div>
