<div class="menu">
  <div class="menu-item maps">
    <a href="#">
      <%= icon "globe", t('header.menu.maps') %>
    </a>
  </div>
  <div class="menu-item data <%= 'active' if params[:controller] == 'geo_data' %>">
    <a href="<%= geo_data_path  %>">
      <%= icon "map-marker", t('header.menu.data') %>
    </a>
  </div>
</div>
