<div id="menu">
  <ul>
    <li class="map active">
      <a href="#"><div class="menu-icon"></div><%= t('header.menu.map') %></a>
    </li>
    <li class="objects">
      <a href="#"><div class="menu-icon"></div><%= t('header.menu.objects') %></a>
    </li>
    <li class="projects">
      <a href="#"><div class="menu-icon"></div><%= t('header.menu.projects') %></a>
    </li>
  </ul>
</div>
