<div class="menu">
  <div class="menu-item maps">
    <a href="#">
      <%= icon "globe", t('header.menu.maps') %>
    </a>
  </div>
  <div class="menu-item data">
    <a href="#">
      <%= icon "map-marker", t('header.menu.data') %>
    </a>
  </div>
</div>
