<div id="menu">
  <ul>
    <li class="maps">
    <a href="#">
      <%= icon "globe", t('header.menu.maps') %>
    </a>
    </li>
    <li class="data">
    <a href="#">
      <%= icon "map-marker", t('header.menu.data') %>
    </a>
    </li>
  </ul>
</div>
