<%= link_to_tooltip icon('bell'), '#notifications-tooltip-tpl' %>
<div class="notifications-count">5</div>

<template id="notifications-tooltip-tpl">
  <ul class="notifications-tooltip">
    LIST of notifications
  </ul>
</template>
