<div class="search-bar" role="search" data-components="search">
  <form action="<%= search_path %>">
    <input id="search"
           type="search"
           placeholder="<%= t('header.search.placeholder') %>"
           autocomplete="off" />
  </form>
</div>
