<div class="search-bar" role="search">
  <form action=".">
    <input id="search"
           type="search"
           placeholder="<%= t('header.search.placeholder') %>"
           autocomplete="off" />
  </form>
</div>
