<%= link_to_tooltip icon('cog'), '#settings-tooltip-container' %>

<div id="settings-tooltip-container" >
  <div class="settings-tooltip">
    <%= link_to_modal t('header.settings_menu.language'), "#language-menu", :html => {:class => 'settings-item'} %>
    <a class="settings-item" href="#">
      <%= t('header.settings_menu.help') %>
    </a>
  </div>
</div>

