<div id="session-new"
         data-components="modal"
         data-modal="<%= {:autoload => true, :prevent_close => true }.to_json %>" >
  <h1>Log in</h1>
  <%= render 'sessions/login_form' %>
</div>
