body {
  position: relative;
  min-width: $canvas-width;
  font: $base-font-size $main-font;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.text-link {
  color: $text-link-color;
  text-decoration: underline;

  &:hover {
    color: $text-link-hover-color-fg;
    background-color: $text-link-hover-color-bg;
  }

  &:visited {
    color: $text-link-visited-color;
  }
}

iframe {
  border: none;
}

h1 {
  font-family: $highlight-font;
  font-size: em(30);
  font-weight: bold;
}

h2 {
  font-family: $highlight-font;
  font-size: em(24);
  font-weight: bold;
}

h3 {
  font-family: $main-font;
  font-size: em(18);
  font-weight: bold;
}

.wrapper {
  @include clearfix;
  position: relative;
  width: $canvas-width;
  margin: 0 auto;
  min-height: 420px;
}

.button {
  @include button;
}

.modal.current {
  background-color: $meppit-light-blue;
}

.left-pane {
  @include inline-pane(25%);
}

.central-pane {
  @include inline-pane(65%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.5);

  .overlay-message {
    color: #000;
    text-align: center;
    margin-top: 35%;
  }

  &.dark {
    background-color: rgba(35, 35, 35, 0.7);
    .overlay-message { color: #fff; }
  }
}
