body {
  position: relative;
  min-width: $canvas-width;
  font: $base-font-size $main-font;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.text-link {
  color: $text-link-color;
  text-decoration: underline;

  &:hover {
    color: $text-link-hover-color-fg;
    background-color: $text-link-hover-color-bg;
  }

  &:visited {
    color: $text-link-visited-color;
  }
}

iframe {
  border: none;
}

h1 {
  font-family: $highlight-font;
  font-size: em(30);
  font-weight: bold;
}

h2 {
  font-family: $highlight-font;
  font-size: em(24);
  font-weight: bold;
}

h3 {
  font-family: $main-font;
  font-size: em(18);
  font-weight: bold;
}

.wrapper {
  @include clearfix;
  position: relative;
  width: $canvas-width;
  margin: 0 auto;
  min-height: 420px;
}

.button, button {
  cursor: pointer;
  display: inline-block;
  color: $white;
  background-color: $button-color;
  border: 1px solid $ocean-blue;
  border-radius: 4px;
  padding: 5px 8px;

  @include linear-gradient(to top, $button-light-color 0%, $button-color 100%);

  text-decoration: none;
  &:hover { text-decoration: none; }

  &.big {
    vertical-align: bottom;
    border-radius: 12px;
    padding: 0.5em 1em;
  }

  &:active, &:hover {
    background: darken($button-color, 10%);
    color: darken($white, 10%);
  }
}

.modal.current {
  background-color: $meppit-light-blue;
}
