body {
  position: relative;
  min-width: $canvas-width;
  font: $base-font-size $main-font;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $text-color;
  background-color: $main-color-bg;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.text-link {
  color: $text-link-color;
  text-decoration: underline;

  &:hover {
    color: $text-link-hover-color-fg;
    background-color: $text-link-hover-color-bg;
  }

  &:visited {
    color: $text-link-visited-color;
  }
}

iframe {
  border: none;
}

h1 {
  font-family: $highlight-font;
  font-size: em(30);
  font-weight: bold;
}

h2 {
  font-family: $highlight-font;
  font-size: em(24);
  font-weight: bold;
}

h3 {
  font-family: $main-font;
  font-size: em(18);
  font-weight: bold;
}

// fix ugly scrollbar on webkit
::-webkit-scrollbar {
    width: 0.35em;
}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $main-color-bg;
  border-radius: 5px;
}

.wrapper {
  @include outer-container;
}

.button {
  @include button;
}

.blocker { z-index: 10000 !important; }
.modal {
  @include box-sizing(content-box);

  &.current  {
    z-index: 10001 !important;
    background: $meppit-light-blue;
  }
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.5);

  .overlay-message {
    color: #000;
    text-align: center;
    margin-top: 35%;
  }

  &.dark {
    background-color: rgba(35, 35, 35, 0.7);
    .overlay-message { color: #fff; }
  }
}

.qtip.tooltip {
  @include modal;
  @include meppit-box-shadow;
  min-width: 100px;
  min-height: 60px;
  border: solid 1px #a0a0a0;
  z-index: 190 !important;

  .qtip-tip {
    left: 80% !important;
  }
}

.ui-autocomplete.ui-menu { // fix for autocomplete menu on modals
  z-index: 10005 !important;
}

// smaller tinymce menu bar
.site-page {
  .mce-btn button, .mce-ico {
    line-height: 10px;
    font-size: 10px;
  }
  .mce-btn button {
    padding: 4px 10px 0;
  }
  .mce-ico {
    width: 10px;
    height: 10px;
  }
  .mce-btn .mce-caret {
    margin-top: 3px;
  }
  .mce-menubtn span {
    line-height: 12px;
  }
  .mce-widget * { font-size: 10px; }
}
body .mce-menu-item .mce-text {
  font-size: 10px;
}
