// fieldset {
//   border: none;
//   &, ol {
//     padding: 0;
//     margin: 0;
//   }
//   ol {
//     list-style: none;
//     margin: 0;
//   }
// }

// label abbr[title] {
//   border: none;
// }

form {
  p {
    padding: 7px 5px 3px;
  }
  label {
    display: block;
  }
  input {
    width: 100%;
    border: 1px solid $grey;
    padding: 4px;
    border-radius: 4px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  input[type=submit] {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: $white;
    @include linear-gradient($meppit-green, darken($meppit-green, 15%));
    &:hover { background: lighten($meppit-green, 3%); }
  }

  input[type="radio"],
  input[type="checkbox"] {
    float: left;
    width: 1.2em;
    margin-right: 8px;
  }

  .error {
    color: $dark-red;
    text-shadow: 1px 1px $white;
  }

  .field_with_errors {
    input { border: 1px solid $dark-red; }
    label { color: $dark-red; }
    label.boolean { color: inherit; }

  }

  .action-links {
    padding: 0 5px;
    font-size: 0.9em;
  }

}
