@mixin sprite-image($map, $sprite) {
  display: inline-block;
  background: $map no-repeat;
  @include sprite($map, $sprite, true);
}

@mixin modal() {
  display: none;
  min-width: 400px;
  min-height: 200px;
  background-color: $meppit-light-blue;
  border-radius: 8px;
}
