@mixin sprite-image($map, $sprite) {
  display: inline-block;
  background: $map no-repeat;
  @include sprite($map, $sprite, true);
}

@mixin resize-sprite($map, $sprite, $percent) {
  $spritePath:    sprite-path($map);
  $spriteWidth:   image-width($spritePath);
  $spriteHeight:  image-height($spritePath);
  $width: image-width(sprite-file($map, $sprite));
  $height: image-height(sprite-file($map, $sprite));

  background-size: ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100));
  width: ceil($width*($percent/100));
  height: ceil($height*($percent/100));
  background-position: 0 floor(nth(sprite-position($map, $sprite), 2)  * ($percent/100) );
}

@mixin modal() {
  display: none;
  min-width: 400px;
  min-height: 200px;
  background-color: $meppit-light-blue;
  border-radius: 8px;
}

@mixin meppit-box-shadow() {
  box-shadow: 1px 1px 3px 1px $medium-grey;
}

@mixin inline-pane($size) {
  display: inline-block;
  margin-left: 20px;
  width: $size;
  vertical-align: top;
}

@mixin button($bg: $ultra-soft-grey, $bg-hover: $grey , $fg: $text-color, $fg-hover: $white, $border: $grey) {
  cursor: pointer;
  display: inline-block;
  color: $fg;
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 4px;
  padding: 8px 14px;

  @include linear-gradient($bg, darken($bg, 10%));

  text-decoration: none;
  font-weight: bold;

  &.big {
    vertical-align: bottom;
    border-radius: 12px;
    padding: 0.5em 1em;
  }

  &:active, &:hover {
    text-decoration: none;
    background: $bg-hover;
    color: $fg-hover;
  }
}

@mixin green-button {
  @include button($meppit-dark-green, $meppit-green, $white, $border: $meppit-dark-green);
}

@mixin blue-button($border: $meppit-dark-blue) {
  @include button($meppit-dark-blue, lighten($meppit-dark-blue, 10%), $white, $border: $border);
}

@mixin blue-button-with-border {
  @include blue-button($border: darken($meppit-dark-blue, 20%));
}

@mixin red-button {
  @include button($dark-red, $red, $white, $border: $dark-red);
}

@mixin map-view() {
  clear: both;
  width: 100%;
  margin: 10px 0;

  .map-container {
    width: 100%;
    height: 100%;
    border: 1px solid $grey;
  }

  .map { height: 180px; }
  .placeholder  { max-height: 50px; width: 100%; }
  .overlay-message { margin-top: 20px; }
}
