@mixin sprite-image($map, $sprite) {
  display: inline-block;
  background: $map no-repeat;
  @include sprite($map, $sprite, true);
}

@mixin modal() {
  display: none;
  min-width: 400px;
  min-height: 200px;
  background-color: $meppit-light-blue;
  border-radius: 8px;
}

@mixin meppit-box-shadow() {
  box-shadow: 1px 1px 3px 1px $medium-grey;
}

@mixin inline-pane($size) {
  display: inline-block;
  margin-left: 20px;
  width: $size;
  vertical-align: top;
}

@mixin button() {
  cursor: pointer;
  display: inline-block;
  color: $white;
  background-color: $button-color;
  border: 1px solid $ocean-blue;
  border-radius: 4px;
  padding: 5px 8px;

  @include linear-gradient(to top, $button-light-color 0%, $button-color 100%);

  text-decoration: none;
  &:hover { text-decoration: none; }

  &.big {
    vertical-align: bottom;
    border-radius: 12px;
    padding: 0.5em 1em;
  }

  &:active, &:hover {
    background: darken($button-color, 10%);
    color: darken($white, 10%);
  }
}
