<div id="add-to-map-modal" class="add-to-map-modal">
  <header><h2>Add to a map</h2></header>
  <section>
    <div class="explanation">Select the map in which you want to insert this content</div>
    <%= form_tag add_to_map_geo_data_path(@geo_data), method: :post,
                                                      remote: true,
                                                      "data-components" => "remoteForm" do %>
      <p>
        <%= autocomplete_field_tag :map, "#" %>
      </p>
      <p>
        <%= link_to 'cancel', :back %>
        <%= submit_tag 'add' %>
      </p>
    <% end %>
  </section>
</div>

