<section>
  <br>
  <h2><%= icon "globe", t('geo_data.maps.title') %></h2>
  <div id="maps" class="list-container" data-mpt-components="list">
    <div id="maps-pagination"><%= paginate @maps, :remote => true %></div>
    <ul id="maps-list" class="list maps-list">
      <% unless @maps.empty? %>
        <%= render @maps, :size => :small %>
      <% else %>
        <p><%= t 'geo_data.maps.empty', {name: @geo_data.try(:name)} %></p>
      <% end %>
    </ul>
  </div>
</section>
