<div class="site-page full data-list">
  <div data-components="list">
    <h1 class="title"><%= raw t('geo_data.list.title', :count => "<em>#{@geo_data_collection.total_count}</em>") %></h1>
    <div id="geodata-pagination"><%= paginate @geo_data_collection, :remote => true %></div>
    <ul id="geodata-list" class="list data-list">
      <%= render @geo_data_collection, :checkbox => true %>
    </ul>
  </div>
</div>
