<img src="<%= asset_url('logos/mootiro-maps.png') %>" />
<h1>Bem-vindo, <%= @user.name %></h1>
<p>
  Seja bem-vindo ao Meppit, uma ferramenta on-line de <strong>mapeamento colaborativo</strong> para apoiar o desenvolvimento de um território - pode ser sua rua, bairro, ou mesmo cidade, estado ou país.
</p>
<p>
Você pode criar projetos de <strong>mapas temáticos</strong>. Por exemplo: todas as acadêmias de sua cidade, ou ciclovias, qualquer coisa que você queira.
</p>
<p>
  Para ativar sua conta, voce deve clicar no link abaixo: <br />
  <%= link_to 'activation link', @activation_url %>
<p>
  Obrigado por se juntar a nós e tenha um bom trabalho com o Meppit!
</p>



