<img src="<%= asset_url('logos/mootiro-maps.png') %>" />
<h1>Olá, <%= @user.name %></h1>

<p>
Você requisitou uma alteração de senha.
</p>

<p>
Para escolher uma nova senha, apenas siga este link: <a href="<%= @url %>">alterar minha senha!</a>
</p>

<p>
Tenha um bom dia!
</p>
