<img src="<%= asset_url('logos/mootiro-maps.png') %>" />
<h1>Welcome, <%= @user.name %></h1>
<p>
  Welcome to Meppit, an online <strong>colaborative mapping</strong> tool for supporting a territory development - it can be your street, neighborhood, or even a city, state or country.
</p>
<p>
  You can create your <strong>tematic maps</strong> project. For example all gyms in your city, or bike routes, anything you want.
</p>
<p>
  Thanks for joining and have a great work on Meppit!
</p>



