<h1>Welcome, <%= @user.name %></h1>
<p>
  You have successfully signed up to Meppit.
</p>
<p>
  To login to the site, just follow this link: <%= root_url %>.
</p>
<p>Thanks for joining and have a great day!</p>
