.frontpage {

  .title {
    padding-top: 50px;
    text-align: center;

    .maps-logo {
      @include sprite-image($logos-map, mootiro-maps);
    }

    h1 {
      display: inline-block;
      color: $ultra-dark-grey;
      font-size: 32px;
      letter-spacing: -1px;
      font-weight: 400;
      margin: -45px 0 0 10px;
      vertical-align: middle;
      text-rendering: optimizelegibility;
    }

    .video {
      margin: 30px;
      text-align: center;
    }
  }


  .call-for-action {
    background-color: $ultra-soft-grey;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;

    h2 { margin-top: -10px; }
    .button { margin: 0 0 -10px 20px; }
  }


  .what-is-it-for {
    white-space: nowrap; /* hack for windows */

    *  { @include box-sizing(border-box); }
    a  { color: inherit }
    h2 { margin: 40px 0 10px 40px; }

    .topic {
      white-space: normal; /* hack for windows */

      vertical-align: top;
      display: inline-block;
      width: 19%;
      margin: 0 0.35%;

      &:hover {
        background: $ultra-soft-grey;
        h3 { background: $meppit-blue; }
      }

      h3 {
        display: inline-block;
        padding: 0.5em 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $ocean-blue;
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: $ocean-blue;
      }

      img { max-width: 100%; }
      p { padding: 0.5em 0.2em 0; }
    }
  }

  .projects {
    background-color: $ultra-soft-grey;
    margin-top: 50px;
    padding-bottom: 10px;

    h2 { padding: 20px; }

    .flexslider {
      background-color: inherit;
      width: 800px;
      height: 150px;
      position: relative;
      left: 50%;
      margin-top: 20px;
      margin-left: -400px;
      border: none;
      box-shadow: none;

      .flex-prev { left:  -20px; }
      .flex-next { right: -20px; }

      img {
        max-width: 220px;
        max-height: 140px;
      }

      .testimony {
        width: 450px;
        height: 100px;
        position: relative;
        left: 300px;
        top: -130px;

        font-style: italic;
        text-align: justify;

        .author-info {
          float: right;
          text-align: right;
          margin-top: 0.5em;
          font-size: 80%;
          max-width: 80%;
          display: inline-block;
        }
      }

      .aldeias-infantis {
        img { margin-left: 30px }
        p { margin-top: 15px }
      }
      .heliopolis-verde {
        img { margin-left: 35px }
        p { margin-top: 0 }
      }
      .bairro-educador {
        img { margin-left: 40px }
        p { margin-top: 20px }
      }
      .educar-na-cidade {
        img { margin-left: 45px}
      }
    }
  }

  .news {
    margin: 20px 0 40px;
    > div {
      @include box-sizing(border-box);

      display: inline-block;
      vertical-align: top;
      width: 45%;
      margin: 1%;

      h3{ text-indent: 5px; }
    }

    li {
      :hover { background: $meppit-light-blue; }
      a {
        display: block;
        padding: 5px;
        text-decoration: none;
      }
      span { color: $text-color; }
      img { margin-right: 0.2em }
    }
    .last_updates li a { color: inherit; }

    .apart {
      margin-top: 10px;
      font-size: 0.9em;
    }

    .image.community        { @include sprite-image($icons-map, community); }
    .image.importsheet      { @include sprite-image($icons-map, importsheet); }
    .image.investment       { @include sprite-image($icons-map, investment); }
    .image.need             { @include sprite-image($icons-map, need); }
    .image.organization     { @include sprite-image($icons-map, organization); }
    .image.project          { @include sprite-image($icons-map, project); }
    .image.resource         { @include sprite-image($icons-map, resource); }
    .image.added            { @include sprite-image($icons-map, added); }
    .image.added-to-project { @include sprite-image($icons-map, added-to-project); }
    .image.deleted          { @include sprite-image($icons-map, deleted); }
    .image.discussed        { @include sprite-image($icons-map, discussed); }
    .image.edited           { @include sprite-image($icons-map, edited); }
    .image.inserted         { @include sprite-image($icons-map, inserted); }
  }
}
