<div class="relations edit" data-components="relationsManager"
                            data-relations-manager='<%= relations_manager_data(f.object).to_json %>'>

  <button class="add-new-relation" title="<%= t 'relations.title.add' %>">
    <%= icon 'plus',  t('relations.add') %>
  </button>
  <%= f.input :relations, as: :hidden, input_html: { class: 'relations-value', value: relations_value(f).to_json } %>

</div>
