<div class="relations edit" data-components="relations">
  <button class="add-new-relation"><%= icon 'plus',  t('relations.add') %></button>


  <script type="text/template" id="relation-form-template">
    <div class="relation-item">
      RELATION FORM
    </div>
  </script>
</div>
