<div class="relations edit" data-components="relations">
  <button class="add-new-relation"><%= icon 'plus',  t('relations.add') %></button>


  <script type="text/template" id="relation-form-template">
    <div class="relation-item">
      <%= select_tag :relation_type, options_for_select(f.object.class.relations_options), include_blank: true %>
    </div>
  </script>
</div>
