<div class="relations show">
  <ul>
    <% if relations.empty? %>
      <p class="empty"><%= t('relations.empty') %></p>
    <% else %>
      <% relations.each do |rel| %>
        <%= render 'relations/relation', rel: rel %>
      <% end %>
    <% end %>
  </ul>
</div>
