.activities-list {
  .list-item {

    .trackable { font-weight: bold; }

    &.user {
      .item-avatar { background-color: $meppit-dark-green; }
      .trackable { color: $meppit-dark-green; }
    }

    &.geo_data {
      .trackable { color: $meppit-data-color; }
    }

    &.map {
      .trackable { color: $meppit-maps-color; }
    }
  }

  .event-owner,
  .event-type {
    font-weight: bold;
  }

  .activity-event {
    display: inline;
  }

  .activity-time {
    display: inline-block;
    font-size: 0.8em;
    color: $grey;
  }

  .owner-avatar {
    display: inline-block;
    float: left;
    margin: -4px 6px 0 -15px;
    position: relative;

    img {
      border: $white 1px solid;
      width: 22px;
      height: 22px;
    }
  }

  .activity-changes {
    margin-top: 5px;
    font-size: 0.9em;
    color: $grey;
  }
}
