.admin {
  &.confirm-deletion {
    h2 {
      text-align: center;
      color: $grey;
      margin-bottom: 20px;
    }

    .delete-btn {
      background-color: $dark-red;
      color: $white;
      $border-color: $dark-red;
      width: 50%;
      margin: 0 25%;
      text-align: center;

      &:hover { background-color: $red; }
    }
  }
}
