<div class="side-pane">
  <%= render local_assigns[:side_pane] || "#{parent_ctrl_name}/side_pane", f: local_assigns[:f], object_ref => object %>
</div>

<div class="central-pane">
  <%= render local_assigns[:header] || "#{parent_ctrl_name}/header",  f: local_assigns[:f], object_ref => object %>
  <%= render('shared/location',  f: local_assigns[:f], object: object) unless local_assigns[:with_location] == false %>

  <%= render local_assigns[:content] || "#{parent_ctrl_name}/content",  f: local_assigns[:f], object_ref => object, contributions: @contributions %>
</div>
