<header class="wrapper">
  <div class="map-logo"><%= icon "globe" %></div>
  <div class="title">
  <% if edit_mode? %>

    <div><h1 class="name"><%= f.input :name %></h1></div>

  <% else %>

    <div>
      <h1 class="name"><%= map.name %></h1>
      <%#= render 'shared/counters', :object => map, :size => :big %>
    </div>
    <div class="last-update">
      <%= t 'map.last_updated', date: time_ago_in_words(map.updated_at) %>
    </div>

  <% end %>
  </div>
</header>
