<div class="list-actions">
  <button class="select-all-btn" data-components='selectAll'>
    <input type="checkbox" name="all" />Select All
  </button>

  <%= link_to icon('upload', ''), '#', class: 'upload-btn' %>
  <%= render 'shared/export_object', object: nil %>


  <%= link_to icon('globe', t('maps.list.add_new')), new_map_path, class: 'add-new-btn' , "data-components" => "loginRequired" %>
</div>
