<div class="site-page full map-list maps index">
  <div data-components="list">
    <h1 class="title"><%= raw t('maps.list.title', :count => "<em>#{@maps_collection.total_count}</em>") %></h1>
    <div id="map-pagination"><%= paginate @maps_collection, :remote => true %></div>
    <ul id="map-list" class="list map-list">
      <%= render @maps_collection, :checkbox => true %>
    </ul>
  </div>
</div>
