.button {

  &.follow {
    margin: 5px;

    .label {
      display: block;
      min-width: 5em;
    }

    &.active {
      background-color: $ocean-blue;
      color: $white;
      border-color: $ocean-blue;

      &:hover { // turns to 'Unfollow' button
        background: $dark-red;
        border-color: $dark-red;
      }
    }
  }

}
