.contacts {
  .contact-item {
    margin-bottom: 15px;

    input {
      display: inline-block;
      width: 140px;
      margin-left: 4px;
    }
  }

  .text  {
    width: 80%;
    display:inline-block;
    margin: 0 4px;
    vertical-align: top;
    word-wrap: break-word;
    font-size: 0.9em;
    a { color: $text-color; }
  }

}
.edit .contact-item i {margin-left: 5px;}
