.contacts {
  margin: 20px 0;

  .contact-item {
    display: inline-block;
    width: 32.8%;
    margin-bottom: 10px;

    input {
      width: 90%;
      margin: 5px;
    }
  }

  .text  {
    width: 81%;
    display:inline-block;
    margin: 0 4px;
    vertical-align: top;
    word-wrap: break-word;
  }

}
