.counters {
  float: right;
  margin: 5px 0 0;

  .counter {
    float: left;
    margin: 0 0 0 15px;

    &:first-child {
      margin: 0;
    }

    a {
      padding: 10px;
      color: $secondary-content-color;
      outline: 0;

      &:hover {
        color: $text-color;
        text-decoration: none;
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.7em;
    }

    .counter-value {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 0.8em;
      line-height: 1em;

      em {
        display: block;
        color: $text-color;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}
