.export {
  @include modal;

  h2 { margin-bottom: 20px; }

  .explanation { margin-bottom: 30px; }

  .help { margin-top: 20px;}

  .option {
    display: inline-block;
    height: 60px;
    width: 89.5px;
    text-align: center;
    margin: 0 5px;
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: $meppit-dark-blue;
    border-radius: 5px;
    border: solid 1px $meppit-data-color;

    &:first-child { margin-left: 0;}
    &:last-child { margin-right: 0;}

    &:hover {
      background-color: lighten($meppit-dark-blue, 10%);
    }
  }

}
