.export {
  @include modal;

  h2 { margin-bottom: 20px; }

  .explanation { margin-bottom: 30px; }

  .help { margin-top: 20px;}

  .options {
    width: 100%;
    .option {
      width: 25%;
    }
  }
}
#export-help {
  font-size: 0.9em;
}
