.export {
  @include modal;

  h2 { margin-bottom: 20px; }

  .explanation { margin-bottom: 30px; }

  .help { margin-top: 20px;}

  .option {
    width: 89.5px;
  }
}
#export-help {
  font-size: 0.9em;
}
