form {
  p {
    padding: 7px 5px 3px;
  }
  label {
    display: block;
  }
  input {
    width: 100%;
    border: 1px solid $grey;
    padding: 4px;
    border-radius: 4px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  input[type=button],
  input[type=submit] {
    @include button;
    @include button-color($success-color-bg, $success-color-fg);
    width: auto;
  }

  input[type="radio"],
  input[type="checkbox"] {
    float: left;
    width: 1.2em;
    margin-right: 8px;
  }

  .error {
    color: $dark-red;
    text-shadow: 1px 1px $white;
    font-size: $base-font-size;
  }

  .field_with_errors {
    input, textarea { border: 1px solid $dark-red; }
    label { color: $dark-red; }
    label.boolean { color: inherit; }
  }

  .action-links {
    padding: 0 5px;
    font-size: 0.9em;
  }

  .form-actions {
    padding: 15px 0;

    .edit-save {
      margin-right: 10px;
    }
  }

}
