.header {
  @include box-sizing(border-box);

  width: 100%;
  height: $main-menu-height;
  background: $meppit-light-blue;
  border-bottom: $meppit-blue 1px solid;
  position: relative;
  z-index: 11;
  margin-bottom: 20px;

  .header-wrapper {
    @include outer-container();
    width: 960px;
    margin: 0 auto;
    height: 100%;
  }

  a {
    color: $text-color;
    &:hover { text-decoration: none; }
  }

  .main-menu  { @include span-columns(4); }
  .search-bar { @include span-columns(6); }
  .side-menu  { @include span-columns(2); }

  .logo, .menu { float: left }

  .logo {
    margin: 0 20px;
    padding-top: 10px;

    a { display: block; }

    .image { @include sprite-image($logos-map, logo); }

    .brand {
      font-weight: bold;
      font-size: 1.1em;
      display: inline-block;
      vertical-align: top;
      margin-top: 4px;
    }
  }

  .main-menu, .menu, .side-menu, .menu-item { height: 100%; }

  .menu-item {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    a {
      display: block;
      height: $main-menu-height;
    }
    i {
      margin-right: 2px;
      font-size: 1.3333em;
    }

    &:hover, &.active {
      a { color: $white; }
    }

    &.maps:hover, &.maps.active {
      background-color: $meppit-maps-color;
    }
    &.data:hover, &.data.active {
      background-color: $meppit-data-color;
    }

  }

  .menu .menu-item > a {
    padding: 14px 5px;
    min-width: 85px;
    text-align: center
  }
  .side-menu .menu-item > a { padding: 13px 8px; }

  .side-menu {
    text-align: right;

    .login {
      width: 95px;
      background: $meppit-green;
      color: #009640;

      &:hover {
        background: darken($meppit-green, 10%);
        color: #000;
      }
    }

    .settings {
      &:hover, .active {
        color: $white;
        background: $meppit-dark-blue;
      }
      i { margin-left: 6px; }
    }

    .notifications {
      a {
        color: lighten($text-color, 30%);
        &:hover { color: $text-color; }
      }
      .notifications-count {
        display: inline-block;
        position: relative;
        right: -10px;
        top: -40px;
        height: 16px;
        min-width: 16px;
        border-radius: 8px;
        font-size: 0.8em;
        padding-top: 2px;
        background-color: $dark-red;
        color: white;
      }
    }

    .user-info {
      vertical-align: top;

      &:hover {
        color: $white;
        background: $meppit-dark-blue;
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: -25%;

        &.placeholder { margin-top: 0;}
      }
      .user-name {
        vertical-align: top;
        display: inline-block;
      }
    }
  }

  .search-bar {
    padding-top: 8px;

    form {
      width: 100%;
      padding: 0;
      margin: 0;
      display: inline-block;

      input[type="search"] {
        width: 100%;
        height: 28px;
        border-radius: 14px;
        background: $white image-url('icons/glass.png') no-repeat 98% center;
        @include box-sizing(border-box);
        padding: 0 1.2em 0 1em;
        box-shadow: inset 0px 1px 3px 0px $soft-grey;
        border: 1px solid $medium-grey;

        @include placeholder { font-size: 0.8em; }
      }
    }
  }
}

.settings-tooltip {
  font-size: $base-font-size;

  .settings-item {
    display: block;
    padding: 10px;
    margin: 0;
    color: $text-color;

    &:hover {
      background-color: $meppit-dark-blue;
      color: $white;
      text-decoration: none;
      border-radius: 5px;
    }

    i {
      min-width: 15px;
      margin-right: 5px;
    }
  }
}

.notifications-tooltip {
  font-size: $base-font-size;
}

.language-selector {
  @include modal;
  min-height: 100px;

  .locale-item {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    color: $text-color;

    &:hover{
      background: $meppit-dark-blue;
      color: $white;
      text-decoration: none;
    }
    &.active {
      border: solid 1px $meppit-dark-blue;
      border-radius: 5px;
    }
  }
}
