.header {
  width: 100%;
  height: 45px;
  background: $meppit-light-blue;
  position: relative;
  z-index: 11;
  margin-bottom: 50px;

  @include meppit-box-shadow;
  @include box-sizing(border-box);

  a {
    color: $text-color;
    &:hover { text-decoration: none; }
  }

  #logo, #menu, #search-bar { float: left }
  #side_menu { float: right }

  #logo {
    margin: 0 35px;
    padding-top: 10px;

    .image { @include sprite-image($logos-map, logo); }
  }

  #menu, #side_menu {
    cursor: pointer;

    &, ul, li, a { height: 100%;}

    > ul {

      > li {
        display: inline-block;
        text-align: center;

        &:hover { background: $meppit-blue; }

        a {
          padding: 14px 5px 6px;
          display: block;
          i { margin-right: 5px; }
        }
      }
    }
  }

  #menu .maps {
    &:hover, &.active {
      background-color: $meppit-maps-color;
      a { color: $white; }
    }
  }

  #menu .data {
    &:hover, &.active {
      background-color: $meppit-data-color;
      a { color: $white; }
    }
  }

  #menu > ul > li { min-width: 120px; }

  #side_menu > ul > li {
    min-width: 60px;
    a { height: 25px; }
  }

  #side_menu {
    ul { margin-right: 20px; }

    #login_button {
      background: $meppit-green;
      color: #009640;

      &:hover {
        background: darken($meppit-green, 10%);
        color: #000;
      }
    }
    li.dropdown_menu {
      min-width: 100px;
      position: relative;

      &:hover > ul { display: block; }

      ul {
        box-shadow: 0px -5px 0px 0px $meppit-blue, 1px 1px 3px 1px $medium-grey;
        display: none;
        position: absolute;
        background-color: inherit;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 100;
        text-align: left;

        li {
          padding: 0 10px;
          &:hover { background: $meppit-light-blue; }

          &.language.selected { font-weight: bold;}
        }
      }
    }
  }

  #search-bar {
    width: 22%;
    margin-left: 3%;
    padding-top: 8px;
    position: relative;

    form {
      width: 85%;
      padding: 0;
      margin: 0;
      display: inline-block;

      input[type="search"] {
        width: 100%;
        height: 28px;
        border-radius: 14px;
        background: $white image-url('icons/glass.png') no-repeat 98% center;
        padding: 0 1.2em 0 1em;
        box-shadow: inset 0px 1px 3px 0px $soft-grey;
        border: 1px solid $medium-grey;

        @include placeholder {
          font-size: 0.8em;
          text-align: center;
        }
      }
    }
  }
}
