.list-item {
  clear: both;
  padding: 15px 0;
  border-bottom: 1px solid $list-item-separator-color;

  .item-avatar {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: $soft-grey;
    width: 32px;
    height: 32px;
    border-radius: 5px;
  }

  .item {
    float: left;

    .item-title {
      font-family: inherit;
      font-size: 1.15em;

    }

    .item-excerpt { color: $text-color; }

    a { color: $text-link-color; }

  }

  &.map {
    .item-avatar { background: $meppit-maps-color; }
    .item a { color: $meppit-maps-color; }
  }
  &.data {
    .item-avatar { background: $meppit-data-color; }
    .item a { color: $meppit-data-color;  }
  }

  .item-controls {
    .counters { margin: 8px 0;  }
  }
}
