.map {
  .leaflet-tile {
    filter: grayscale(80%) brightness(105%) opacity(60%);
    -moz-filter: grayscale(80%) brightness(105%) opacity(60%);
    -webkit-filter: grayscale(80%) brightness(105%) opacity(60%);
  }

  .map-container {
    background: $white;
  }

  .selector {
    margin: 0;
    padding: 10px;

    .h2 {
      margin-bottom: 20px;
    }

    .explanation {
      margin-bottom: 30px;
      padding: 0;
    }

    .options {
      text-align: center;
    }

    .option {
      width: 100px;
    }

  }
}
