.option {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: $meppit-dark-blue;
  border-radius: 5px;
  border: solid 1px $meppit-data-color;

  &:first-child { margin-left: 0;}
  &:last-child { margin-right: 0;}

  &:hover {
    background-color: lighten($meppit-dark-blue, 10%);
  }
}
