#search-results {
  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .empty {
    text-align: center;
    font-size: 1.1em;
  }

  .search-results-list {
    max-height: 400px;
    overflow-y: scroll;
    margin-right: -20px;
    padding: 20px;
  }
}
