$tag-color: darken($meppit-dark-blue, 20%);

.tags {
  margin-top: 20px;
}

.tags .tag, div.tagsinput span.tag {
  display: inline-block;
  color: $tag-color;
  border: solid 1px $tag-color;
  border-radius: 4px;
  background-color: $meppit-light-blue;
  padding: 5px 10px;
  margin: 0 5px 5px 0;

  a { color: $tag-color; }
}

div.tagsinput {
  border: none;

  input {
    border: 1px solid $grey;
    padding: 4px;
    width: 100% !important;
  }
}

