.toolbar {
  @include span-columns(1);
  // FIXME: Use the correct url
  background: url('imgs/toolbar-bg.png') no-repeat right top;
  min-height: 430px;

  a {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 0;
    border-radius: 5px;
    margin: 15px 10px;

    &:hover, &.active {
      background-color: $meppit-dark-blue;
      color: $white;
    }

    color: $text-color;
  }
}
