.uploader {
  .upload-button {
    @include button;
    width: 92%;
    margin-top: -10px;
    text-align: center;
  }

  .upload-success {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: $white;
    text-shadow: 1px 1px $text-color;
    background-color: darken($meppit-green, 15%);
    display: none;
    font-size: 0.8em;
    text-align: center;
  }
}
