<div id="activity" data-components="list" data-list='{"scroll": {"behavior": "local"}}'>
  <div id="activities-pagination"><%= paginate activities, :remote => true,
    :params => {:controller => 'activities', :action => 'user_activity', :user_id => user.id} %></div>
  <ul id="activities-list" class="list activities-list">
    <% if activities.empty? %>

      <p class="empty"><%= t 'activities.empty', {name: user.name} %></p>

    <% else %>

      <%= render 'activities/user_activities_list' %>

    <% end %>
  </ul>
</div>
