<div id="contributions" data-components="list" data-list='{"scroll": {"behavior": "local"}}'>
  <%= render 'contributings/contributions_list', contributions: @contributions, paginate_params: {controller: 'contributings', action: 'contributions', user_id: user.id} %>
</div>
