<div class="main-info">
  <%= f.input :location, :as => :hidden %>
  <div class="about">
    <%= f.input :about_me, :as => :text, :input_html => {:class => 'tinymce', 'data-components' => 'editor'} %>
  </div>
</div>
