<div id="following" data-components="list" data-list='{"scroll": {"behavior": "local"}}'>
  <div id="following-pagination"><%= paginate following, :remote => true,
    :params => {:controller => 'followings', :action => 'following', :user_id => user.id} %></div>
  <ul id="following-list" class="list following-list">
    <% unless following.empty? %>
      <%= render following, :size => :small, :control_type => :follow_button %>
    <% else %>
      <p class="empty"><%= t 'followings.empty.following', {name: user.name} %></p>
    <% end %>
  </ul>
</div>
