<header class="wrapper">
  <div class="main-title">
    <h1 class="name"><%= user.name %></h1>
    <div class="joined">
      <%= t 'users.profile.joined', date: user.created_at.to_s(:month_and_year) %>
    </div>
  </div>
  <%= render 'shared/counters', :object => user, :size => :big %>
</header>
