<br>
<h2><%= icon "edit", t('users.profile.contributions') %></h2>
<div id="contributions" data-components="list">
  <%= render 'users/contributions', :object => @user, :paginate_params => {:controller => 'users', :action => 'contributions'} %>
</div>
