<section id="user-created"
         data-components="modal"
         data-modal="<%= {:autoload => true, :prevent_close => true }.to_json %>" >

  <header>
    <h1>USER CREATED</h1>
  </header>

</section>
