<section class="sign-up modal"
  <% unless request.xhr? %>
    data-components="modal"
    data-modal-options="<%= {autoload: true, prevent_close: true }.to_json %>"
  <% end %> >

  <header>
    <h1><%=  t 'users.signup' %></h1>
  </header>

  <%= render 'users/signup_form', user: @user %>
</section>
