<% unless flash.empty? %>
  <div class="alerts">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>" data-components="alert">
        <a class="close">&#215;</a>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>
