<div class="contacts">
  <ul>
    <% contacts_fields_for(object).each do |contact| %>
      <li class="contact-item">
        <%= icon contact[:icon], '', :class => 'fa-lg fa-fw' %>
        <span class="type"><%= t("contacts.#{contact[:key]}") %></span>
        <%= text_field_tag contact[:key], contact[:value], :name => contact[:name] %>
      </li>
    <% end %>
  </ul>
</div>

