<div class="contacts">
  <ul>
    <% contacts_list_for(object).each do |contact| %>
      <li class="contact-item">
        <%= icon contact[:icon], '', :class => 'fa-lg fa-fw' %>
        <span class="text">
          <% if contact[:key].to_sym == :site %>
            <a href="<%= with_http contact[:value] %>"> <%= contact[:value] %> </a>
          <% else %>
            <%= contact[:value] %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>

