<div class="form-actions" data-components="stick" data-stick='{ "get_width_from": ".site-page" }'>
  <%= submit_tag t('save'), :class => "edit-save" %>
  <%= link_to t('cancel'), url_for(object) %>
</div>
