<header id="header" class="header">
  <div class="header-wrapper">
    <div class="main-menu">
      <%= render 'shared/header/logo' %>
      <%= render 'shared/header/menu' %>
    </div>
    <%= render 'shared/header/search' %>
    <%= render 'shared/header/side_menu' %>
  </div>
</header>
