<header id="header" class="header">
  <div class="header-wrapper">
    <%= render 'shared/header/logo' %>
    <%= render 'shared/header/menu' %>
    <%= render 'shared/header/search' %>
    <%= render 'shared/header/side_menu' %>
  </div>
</header>
