<section class="location">
  <% if edit_mode? %>
    <div class="map" data-components="map" data-map-options='{"editor":true, "geojson":<%= raw object.location_geojson %>}'></div>
  <% else %>
    <%= render 'shared/map', object: object %>
  <% end %>
</section>
