<section class="location">
  <% if edit_mode? %>
    <div class="map" data-components="map" data-map-options='{"editor":true, "geoDataIds": <%= raw object.try(:geo_data_ids) || object.id %>}'></div>
  <% else %>
    <%= render 'shared/map', object: object %>
  <% end %>
</section>
