<% if object.location %>
  <div class="map" data-components="map" data-map-options="<%= map_options(object).merge({data: map_data}).to_json %>"></div>
<% else %>
  <div data-components='overlay' data-overlay-options='<%= {message: t("empty_location")}.to_json %>'>
    <%= image_tag "imgs/map-placeholder-wide.png", :alt => 'location', :class => 'placeholder' %>
  </div>
<% end %>
