<% if object.location %>
  <div class="map" data-components="map" data-map-options='{"geoDataIds": <%= raw object.try(:geo_data_ids) || object.id %>}'></div>
<% else %>
  <div data-components='overlay' data-overlay-options='<%= {message: t("empty_location")}.to_json %>'>
    <%= image_tag "imgs/map-placeholder-wide.png", :alt => 'location', :class => 'placeholder' %>
  </div>
<% end %>
