<a href="#" data-components="removeButton" data-removeButton-options='<%= remove_button_options_for object, parent %>' class="button remove"><span class="label"><%= t 'lists.buttons.remove' %></span></a>
