<div id="search-results" data-components="list">
  <div id="search-pagination"><%= paginate @results, :remote => true %></div>
  <ul id="search-results-list" class="list search-results-list">
      <% unless @results.empty? %>
        <%= render @results, :size => :small %>
      <% else %>
        <p><%= 'empty =/' %></p>
      <% end %>
  </ul>
</div>
