<ul id="toolbar" >
  <li><a href="<%= url_for [:edit, object] %>"><span class="icon edit"></span></a></li>
  <li><a href="#"><span class="icon star"></span></a></li>
  <li><a href="#"><span class="icon comment"></span></a></li>
  <li><a href="#"><span class="icon history"></span></a></li>
  <li><a href="#"><span class="icon flag"></span></a></li>
  <li><a href="#"><span class="icon delete"></span></a></li>
  <li><a href="#"><span class="icon google"></span></a></li>
  <li><a href="#"><span class="icon facebook"></span></a></li>
  <li><a href="#"><span class="icon twitter"></span></a></li>
</ul>
