<div class="last_updates">
  <h3><%= t 'frontpage.news.updates_title' %></h3>

  <%= render 'updates/last_updates' %>

  <div class="apart">
    <a href="#list_updates"><%= t 'frontpage.news.updates_all' %></a>
  </div>
</div>

