<div class="last_updates">
  <h3><%= t 'frontpage.news.updates_title' %></h3>
  <ul>

    <li>
      <a href="/project/68">
        <span class="image importsheet"></span>
        Rugby em São Paulo<br>
        <span class="image inserted"></span>
        <span class="description">Import sheet created 3 days, 10 hours ago</span>
      </a>
    </li>

    <li>
      <a href="/resource/1341">
        <span class="image resource"></span>
        68 La Pizzeria<br>
        <span class="image edited"></span>
        <span class="attenuate">Resource edited 5 days, 2 hours ago</span>
      </a>
    </li>

    <li>
      <a href="/resource/2680">
        <span class="image resource"></span>
        Cadeia Velha<br>
        <span class="image edited"></span>
        <span class="attenuate">Resource edited 1 week, 2 days ago</span>
      </a>
    </li>

    <li>
      <a href="/organization/1990">
        <span class="image organization"></span>
        10ª CAS - Conselho Tutelar 10 - Santa Cruz, Rio de Janeiro <br>
        <span class="image edited"></span>
        <span class="attenuate">Organization edited 1 week, 3 days ago</span>
      </a>
    </li>

  </ul>
  <div class="apart">
    <a href="#list_updates"><%= t 'frontpage.news.updates_all' %></a>
  </div>
</div>

