<section class="list flags-list <%= type %>-flags">
  <h2><%= t "flags.list.#{ type }" %></h2>

  <% if flags.empty? %>
    <div class="empty"> <%= t 'flags.list.empty' %> </div>

  <% else %>
    <% flags.each do |flag| %>
      <%= flag.attributes %>
    <% end %>

  <% end %>
</section>
