<section class="flags-list-container <%= type %>-flags">
  <h2><%= t "flags.list.#{ type }" %></h2>

  <% if flags.empty? %>
    <div class="empty"> <%= t 'flags.list.empty' %> </div>

  <% else %>
    <ul class="flags-list">
      <% flags.each do |flag| %>
        <%= render 'flags/flag', presenter: FlagPresenter.new(flag: flag, ctx: self) if flag.flaggable  %>
      <% end %>
    </ul>

  <% end %>
</section>
