<div class="flags">
  <%= remote_form_for @flag, url: flags_path, method: 'post' do |f| %>
    <%= f.input :reason, collection: @flag.reason_choices %>
    <%= f.input :comment, as: :text, input_html: { 'data-components' => 'editor' } %>
  <% end %>
</div>
