SECRET_TOKEN: "b82bbcb5a636bb565472f407d98a339b2d08d3c60cafdc7cc56f5fc625650d5c8f13e90fd84eb89c2ddf8ebddc031db0c098a8766869000cc56b119874462dcf"
FIXED_SALT: "long and complicated salt goes here"

development:
  PORT: 3000
  OAUTH_CALLBACK_HOST: "http://localhost:3000"
  FACEBOOK_KEY: ""
  FACEBOOK_SECRET: ""
  GOOGLE_KEY: ""
  GOOGLE_SERCRET: ""
  FAYE_URL: "http://localhost:9292/faye"
  FAYE_JS: "http://localhost:9292/faye.js"

test:
  FIXED_SALT: "test-salt"
  OAUTH_CALLBACK_HOST: "http://test.host/"
  FACEBOOK_KEY: ""
  FACEBOOK_SECRET: ""
  GOOGLE_KEY: ""
  GOOGLE_SECRET: ""
  FAYE_URL: "http://localhost:9292/faye"
  FAYE_JS: "http://localhost:9292/faye.js"

staging:
  SECRET_TOKEN: ""
  OAUTH_CALLBACK_HOST: ""
  FACEBOOK_KEY: ""
  FACEBOOK_SECRET: ""
  GOOGLE_KEY: ""
  GOOGLE_SECRET: ""
  MAILGUN_API_KEY: ""
  MAILGUN_DOMAIN: ""
  MEPPIT_HOST: ""
  FAYE_URL: ""
  FAYE_JS: ""

production:
  SECRET_TOKEN: ""
  OAUTH_CALLBACK_HOST: ""
  FACEBOOK_KEY: ""
  FACEBOOK_SECRET: ""
  GOOGLE_KEY: ""
  GOOGLE_SECRET: ""
  MAILGUN_API_KEY: ""
  MAILGUN_DOMAIN: ""
  MEPPIT_HOST: ""
  FAYE_URL: ""
  FAYE_JS: ""
