development:
  adapter: postgis
  schema_search_path: '"$user",public,postgis'
  postgis_extension: true
  encoding: unicode
  database: meppit_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgis
  schema_search_path: '"$user",public,postgis'
  postgis_extension: true
  encoding: unicode
  database: meppit_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgis
  schema_search_path: '"$user",public,postgis'
  postgis_extension: true
  encoding: unicode
  database: meppit_production
  pool: 5
  username: postgres
  password:

staging:
  adapter: postgis
  schema_search_path: '"$user",public,postgis'
  postgis_extension: true
  encoding: unicode
  database: meppit_staging
  pool: 5
  username: postgres
  password:
