development:
  adapter: postgresql
  encoding: unicode
  database: meppit_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: meppit_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: meppit_production
  pool: 5
  username: postgres
  password:

staging:
  adapter: postgresql
  encoding: unicode
  database: meppit_staging
  pool: 5
  username: postgres
  password:
