development:
  secret_token: "must have any secret token"
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""
  s3_key: ""
  s3_secret: ""
  s3_bucket: ""

test:
  secret_token: "must have any secret token"
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""
  s3_key: ""
  s3_secret: ""
  s3_bucket: ""

staging:
  secret_token: "staging server specific token"
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""
  s3_key: ""
  s3_secret: ""
  s3_bucket: ""

production:
  secret_token: "production server specific token"
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""
  s3_key: ""
  s3_secret: ""
  s3_bucket: ""
