development:
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""

test:
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""

staging:
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""

production:
  fixed_salt: "put salt string here"
  oauth_callback_host: ""
  facebook_key: ""
  facebook_secret: ""
  google_key: ""
  google_secret: ""
