
<div class='version-diff-before'>
  <div class='before-title'><%= t 'before'%>:</div>
  <%= render('shared/location', object: before) %>
</div>

<div class='version-diff-after'>
  <div class='after-title'><%= t 'after' %>:</div>
  <%= render('shared/location',  object: after) %>
</div>
