<section>
  <br>
  <h2><%= icon "clock-o", t('versions.title', content: @versionable.name) %></h2>
  <div id="versions">
    <!--div id="versions-pagination"><%#= paginate @versions, :remote => true %></div-->
    <ul id="versions-list" class="versions-list">
      <% if @versions.empty? %>
        <p><%= t 'versions.empty' %></p>
      <% else %>
        <% @versions.each do |version| %>
          <%= render 'versions/version', version: version %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
