<div class="last-updates">
  <ul>

    <li>
      <a href="/project/68">
        <div class="update-item">
          <span class="image importsheet"></span>
          <span class="update-name">Rugby em São Paulo</span>
          <%= icon 'globe', '', :class => 'see-on-map fa-fw fa-lg', :title => 'see on map' %>
        </div>
        <div class="update-info">
          <span class="image inserted"></span>
          <span class="description">created 3 days, 10 hours ago</span>
        </div>
      </a>
    </li>

    <li>
      <a href="/resource/1341">
        <div class="update-item">
          <span class="image resource"></span>
          <span class="update-name">68 La Pizeria</span>
          <%= icon 'globe', '', :class => 'see-on-map fa-fw fa-lg', :title => 'see on map' %>
        </div>
        <div class="update-info">
          <span class="image edited"></span>
          <span class="description">edited 5 days, 2 hours ago</span>
        </div>
      </a>
    </li>

    <li>
      <a href="/organization/1990">
        <div class="update-item">
          <span class="image organization"></span>
          <span class="update-name">10ª CAS - Conselho Tutelar 10 - Santa Cruz, Rio de Janeiro </span>
          <%= icon 'globe', '', :class => 'see-on-map fa-fw fa-lg', :title => 'see on map' %>
        </div>
        <div class="update-info">
          <span class="image edited"></span>
          <span class="description">edited 1 week, 3 days ago</span>
        </div>
      </a>
    </li>

  </ul>
</div>
