.counters {
  white-space: nowrap;
  float: right;
  text-align: right;
  margin: 5px 0 0;

  .counter {
    display: inline;
    margin: 0 0 0 10px;

    &:first-child {
      margin: 0;
    }

    a {
      padding: 5px;
      color: $secondary-content-color;
      outline: 0;

      &:hover {
        color: $text-color;
        text-decoration: none;
      }
    }

    i {
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: middle;
      font-size: 1.8em;
    }

    .counter-value {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 0.8em;
      line-height: 1em;

      em {
        display: block;
        color: $text-color;
        font-weight: bold;
        font-size: 1.4em;
      }
    }

    &.small, &.medium {
      margin: 0 0 0 5px;
      font-size: 0.9em;

      a {
        padding: 5px;
      }

      i {
        font-size: 1em;
      }

      .counter-value {
        min-width: 1.5em;
        text-align: inherit;
      }
    }

    &.medium {
      font-size: 1.15em;
    }

  }
}
