<section class="pictures edit">
  <p class="field file" >
    <input type="file" class="file-field" name="picture"
           data-components="pictureUploader"
           data-pictureuploader-options='<%= {url: url_for([:picture_upload, object]) }.to_json %>' />
  </p>

  <%= render 'pictures/thumbs_list', object: object %>

</section>
