<section class="pictures edit">
  <p class="field file" >
    <input type="file" class="file-field" name="picture"
           data-components="pictureUploader"
           data-pictureuploader-options='<%= {url: url_for([:picture_upload, object]) }.to_json %>' />
  </p>

  <div class="pictures-thumbs">
    <% object.pictures.find_all do |picture| %>
      <a href="#" class="thumb">
        <%= image_tag picture.image.thumb.url, class: 'thumb-image' %>
      </a>
    <% end %>
  </div>

</section>
