<section class="pictures edit">
  <p class="field file" >
    <input type="file" class="file-field" name="picture"
           data-components="pictureUploader"
           data-pictureuploader-options='<%= {url: upload_picture_path }.to_json %>' />
  </p>

</section>
