<section>
  <br>
  <h2><%= icon "edit", t('contributings.contributions') %></h2>
  <div id="contributions" data-components="list">
    <%= render 'contributings/contributions_list', contributions: @contributions %>
  </div>
</section>
