<div class="geometry-selector selector">
  <header><h2>Location</h2></header><section>
  <p class="explanation">Select the geometry type that describes the kind of geospatial information you want to store</p>
  <ul class="geometry-options options">
  <li role="button" class="option" data-geometry-type="Point">Point</li>
  <li role="button" class="option" data-geometry-type="Polygon">Shape</li>
  <li role="button" class="option" data-geometry-type="LineString">Line</li>
  </ul>
  </section>
</div>
