<div class="location-selector selector">
  <header><h2>Location</h2></header><section>
    <div id="location-selector-question">
      <p class="explanation">Are you near the location?</p>
      <ul class="location-options options">
        <li role="button" class="option" data-is-near="true">Yes</li>
        <li role="button" class="option" data-is-near="false">No</li>
      </ul>
    </div>
    <div id="location-selector-instructions">
      <p class="explanation">Please allow geolocation access</p>
    </div>
  </section>
</div>
