<div class="relation-metadata">
  <h3><%= metadata_title %>:</h3>
  <textarea id="metadata_description_<%= index %>" name="metadata_description_<%= index %>"
            class="metadata_description tinymce" data-components="editor" data-height="100">
  </textarea>
</div>
