$canvas-width: 960px;

// Unsemantic colors
$ultra-dark-grey: #333333;
$dark-grey: #626262;
$grey: #8d8d8d;
$medium-grey: #a0a0a0;
$soft-grey: #c2c2c2;
$ultra-soft-grey: #e6e6e6;
$transparent-grey: #f5f5f6;
$dark-white: #fafafa;
$blue: #146ebb;
$soft-blue: #2ab1de;
$ice-blue: #9ec8ef;
$transparent-blue: #f1f7fd;
$dark-blue: #004460;
$green: #005602;
$soft-green: #43b337;
$right-green: #06bc6e;
$dark-green: #155d5e;
$green-lime: #cdd947;
$yellow-lime: #f0e245;
$yellow: #fbe237;
$transparent-yellow: #fefaca;
$orange: #ffb700;
$medium-orange: #fba53a;
$dark-orange: #FF8D3B;
$transparent-orange: #feead1;
$soft-red: #ee4e42;
$red: #d50000;
$dark-red: #b50000;
$white: #ffffff;


// Typography
$main-font: Calibri, "Trebuchet MS", Verdana, sans-serif;
$highlight-font: Cambria, Georgia, serif;
$base-font-size: 14px;

$text-color: $dark-grey;
$link-color: #14636E;
$link-color-hover-fg: #14636E;
$link-color-hover-bg: #B1DDE8;
$link-color-visited: #004047;

$meppit-light-blue: #dceff4;
$meppit-blue: #b1dde8;

// Tags: 12px Consolas, Courier, monospace; regular
// #505050 underline
