.admin {
  &.confirm-deletion {
    h2 {
      text-align: center;
      color: $grey;
      margin-bottom: 20px;
    }

    .delete-btn {
      @include red-button;
      width: 50%;
      margin: 0 25%;
      text-align: center;
    }
  }
}
