// resets and base libs
@import "compass/reset";
@import "compass/utilities/sprites";
@import "bourbon";
@import "neat";
@import "font-awesome-sprockets";
@import "font-awesome";

// settings, mixins and core style
@import "config/settings";
@import "core/normalize";
@import "core/mixins";
@import "core/base";
@import "core/sprites";

// vendor

// commons
@import "shared/buttons";
@import "shared/forms";
@import "shared/logos";
@import "shared/usecases";

// layout
@import "shared/layout/page";

// components

// views
@import "views/sessions/sign_in";

html{
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 0;
}
