.comments {
  #comment-form {
    position: relative;

    input[type=submit] {
      margin-top: 10px;
      position: absolute;
      right: 0;
    }
  }

  .comments-list {
    margin-top: 60px;

    .comment {
      border-top: solid 1px $soft-grey;
      padding: 10px;
      color: $dark-grey;
    }
  }
}
