.flags {
  h2 { margin-bottom: 10px; }

  select {
    width: 355px;
  }

  input[type=submit] {
    float: right;
  }
}

.flags-list {
  margin-bottom: 20px;

  h2 {
    color: $grey;
    padding-bottom: 10px;
    border-bottom: solid 1px $soft-grey;
  }
}
