.page.data-view {
  .title {
    h1 {
      @include inline-pane(62%);
      margin-left: 0;
    }
    .counters {
      @include inline-pane(35%);
      margin: 0.67em 0;
    }
  }
  .location {
    clear: both;
    width: 100%;
    margin: 10px 0;
    border: 1px solid transparent;

    .map { height: 180px; }
    .placeholder  { max-height: 50px; width: 100%; }
    .overlay-message { margin-top: 20px; }
  }
}
