.page.data-view {
  .title {
    h1 {
      @include inline-pane(62%);
      margin-left: 0;
    }
    .counters {
      @include inline-pane(35%);
      margin: 0.67em 0;
    }
  }

  .location {
    @include map-view;
  }
  
  .data-tabs {
    margin-top: 30px;
  }

  .extra-info {
    float: right;
    width: 30%;
  }
}
