.site-page.maps {
  .map-logo {
    width: 50px;
    height:50px;
    font-size: 40px;
    color: $white;
    text-align: center;
    background-color: $soft-grey;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
  }
  .title {
    h1 {
      @include inline-pane(52%);
      margin: 0;
    }
    .counters {
      @include inline-pane(38%);
      margin: 0;
    }
  }

  .last-update {
    color: $secondary-content-color;
    font-size: $secondary-content-font-size;
  }

  .location {
    @include map-view;
  }

  .add-data {
    @include button($meppit-data-color, $meppit-dark-blue, $white, $border: $meppit-data-color);
    float: right;
  }
  .add-data-modal {
    @include modal;
    min-height: 150px;

    header {
      margin-bottom: 20px;
      h2 {text-align: center}
    }

    .explanation { margin: 0 0 5px 5px; }

    .btns {
      margin-top: 10px;

      .cancel-btn {
        @include button;
        float: right;
      }
      .submit-btn {
        @include green-button;
        float: right;
        margin-left: 5px;
      }
    }
  }

  .download {
    @include button;
    margin-left: 10px;
    float: right;
  }

  .map-tabs {
    margin-top: 48px;

    .tab-content {
      @include span-columns(12);
    }
  }

  .main-info {
    @include span-columns(8 of 12);
  }

  .extra-info {
    @include span-columns(4 of 12);

    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    .administrator{
      margin-bottom: 30px;

      a {
        color: $link-color;
        text-decoration: none;
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        top: 10px;
        position: relative;
        margin-right: 5px;
      }
    }
  }

  &.edit, &.new {
    .field {
      padding: 0;
      label { display: none; }
    }

    h1.name input[type=text] {
      margin: 0 0 20px;
      width: 100%;
    }

    .location {
      margin: 0 0 15px;
    }

    input[type=text] {
      font: inherit;
      color: inherit;
      letter-spacing: inherit;
    }
  }
}
