.pictures {

  .uploader .upload-button {
    @include button;
    width: auto;

    i { margin-right: 5px; }
  }

  .pictures-thumbs {
    margin-top: 10px;
    margin-left: -5px;

    .thumb {
      display: inline-block;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
      background-color: $meppit-light-blue;
      vertical-align: top;

      &:hover {
        background-color: $meppit-blue;
      }

      .thumb-image {
        width: 105px;
        max-height: 105px;
        border-radius: 5px;
      }
    }
  }
}

.picture {
  .picture-image {
    text-align: center;

    img {
      max-width: 400px;
      max-height: 400px;
    }
  }
}
