.relations {

  &.edit {
    .add-new-relation {
      @include button;
      margin-bottom: 20px;
    }

    .relation-item {
      background-color: $meppit-light-blue;
      padding: 15px 10px;
      margin-bottom: 15px;
      border-radius: 4px;

      .relation_target_autocomplete {
        display: inline-block;
        width: 247px;
      }

      .relation-metadata, .relation-remove {
        @include button;
        padding: 3px 9px;
      }
    }
  }
}
