.relations {
  .relation-metadata {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: solid 1px $soft-grey;

    h3 {
      font-size: 1.1em;
      color: $grey;
      margin-bottom: 10px;
    }
  }

  &.show {
    height: 350px;
    overflow-y: scroll;

    .relation-item-type {
      font-weight: bold;
    }
    .list-item {
      &.small .item { width: 505px; }

      .item-avatar{
        font-size: 20px;
        width: 22px;
        height: 22px;
        border-radius: 4px;
      }
      .item-title a { color: $meppit-data-color; }
    }

    .empty {
      text-align: center;
      font-weight: bold;
      margin: 30px 0;
      color: $grey;
    }
  }

  &.edit {
    .add-new-relation {
      @include button;
      margin-bottom: 20px;
    }

    .relations-list {
      height: 400px;
      overflow-y: scroll;
    }

    .relation-item {
      background-color: $meppit-light-blue;
      padding: 15px 10px;
      margin-bottom: 15px;
      border-radius: 4px;

      .relation_type {
        width: 210px;
      }

      .relation_target_autocomplete {
        display: inline-block;
        width: 238px;
      }

      .relation-metadata-btn, .relation-remove-btn {
        @include button;
        padding: 3px 9px;
      }
    }

    .relation-metadata {
      label {
        color: $grey;
        margin-top: 10px;
      }

      .inline-field, {
        display: inline-block;
      }

      .time-field     { width: 150px; }
      .currency-field { width: 50px; }
      .amount-field   { width: 140px; }
    }
  }
}
