.version-title {
  font-size: 1.5em;
  margin: 20px 0;
}
.versions-list {
  .empty {
    font-size: 1.6em;
    font-weight: bold;
    color: $grey;
    text-align: center;
    margin-top: 120px;
  }
  .version-list-item {
    background-color: $meppit-light-blue;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1em;

    .version-event {
      display: inline-block;
    }
    .author-name {
      color: darken($ocean-blue, 10%);
    }

    .event-name {
      font-weight: bold;
    }
    .version-time {
      display: inline-block;
      font-size: 0.8em;
      color: $grey;
      margin-left: 10px;
    }

    .version-revert {
      @include blue-button;
    }
    .version-see-object {
      @include button;
    }

    .action-btn {
      float: right;
      margin: 0 5px;
      font-size: 0.8em;
      padding: 3px 14px;
    }
  }
  .version-diff {
    margin-top: 10px;

    h3 {
      font-size: 1em;
      margin: 10px 0;
    }
    del.differ {
      font-style: line-through;
      color: $dark-red;
      opacity: 0.5;
    }
    ins.differ {
      text-decoration: none;
      font-weight: bold;
      color: $meppit-dark-green;
    }
    .tag {
      &.ins {
        color: $meppit-dark-green;
        border: solid 1px $meppit-dark-green;
      }
      &.del {
        font-style: line-through;
        color: $dark-red;
        background-color: $ultra-soft-grey;
        border: solid 1px $dark-red;
        opacity: 0.5;
      }
    }
  }
}
