<li class="list-item">
<!--   <div class="wrapper">
    <a href="<%#= presenter.url %>" title="<%#= presenter.name %>">
      <div class="item-avatar">
        <%#= presenter.avatar %>
      </div>
    </a>
    <div class="item">
      <a href="<%#= presenter.url %>" title="<%#= presenter.name %>">
        <h2 class="item-title"><%#= presenter.title %></h2>
        <p class="item-excerpt"><%#= presenter.description %></p>
      </a>
    </div>
  </div> -->
  <%= activity.attributes %>
</li>
