<section>
  <br>
  <h2><%= icon "clock-o", t('users.profile.activity') %></h2>
  <div id="activity" data-components="list">
    <%= render "activities/activities_list", activities: @activities %>
  </div>
</section>
