
<section>
  <br>
  <h2><%= icon "clock-o", t('users.profile.activity') %></h2>
  <div id="activity" data-components="list">
    <div id="activities-pagination"><%= paginate @activities, :remote => true %></div>
    <ul id="activities-list" class="list activities-list">
        <% unless @activities.empty? %>
          <% @activities.each do |activity| %>
            <%= render 'activities/user_activity', activity: ActivityPresenter.new(object: activity, ctx: self) %>
          <% end %>
        <% else %>
          <p class="empty"><%= t 'activities.empty', {name: @user.name} %></p>
        <% end %>
    </ul>
  </div>
</section>
