#forgot-password, #edit-password{
  width: 350px;
  margin: 0 auto;

  h1 { text-align: center; }
  input[type=submit] {
    width: 50%;
    margin: 0 25%;
  }
}

#edit-password {
  margin-top: 30px;
}
