#user-profile {

  h2 { margin: 20px 0; }

  // left pane
  .user-avatar img{
    width: 100%;
    max-height: 200px;
    // margin-bottom: 20px;
  }

  .user-location {

    width: 100%;
    margin: 20px 0;

    .placeholder  { max-height: 200px; }
    .map { height: 250px; }
  }

  .user-projects {
    .user-projects-item img  { @include inline-pane(30%); margin-left: 0; }
    .user-projects-item span { @include inline-pane(60%); padding-top: 20px;}
  }

  // Central pane
  .user-name { margin: 0 0 30px;}

  .user-about-text {
    border-left: solid 2px $meppit-blue;
    padding-left: 20px;
  }

  .user-contributions {
    margin-top: 20px;
    border: solid 1px $meppit-blue;
    border-radius: 8px;
    padding: 10px 5px;

    h2 { margin-top: 0; }
  }

  &.edit {
    .field label { display: none;}
  }
}
