#user-profile {

  // left pane
  .user-avatar img{
    width: 100%;
    max-height: 200px;
  }

  .user-location {

    width: 100%;
    margin: 20px 0;

    .map { height: 250px; }
    .placeholder  { max-height: 200px; width: 240px; }
  }

  // Central pane
  .user-main-info {
    float: left;
    width: 68%;
  }
  .user-extra-info {
    float: right;
    width: 30%;
  }
  .user-name { margin: 0 0 30px;}

  &.edit {
    .field label { display: none;}
  }
}
