<div class="wrapper">
  <input type="hidden" name="test" id="test-autocomplete" />
  <input type="text" name="test_autocomplete" id="test" placeholder="test autocomplete" data-components="autocomplete" data-component-options='{"name":"test","url":"[\"bla\",\"ble\"]"}' />
</div>
