<div class="btns">
  <a href="#" id="follow-btn" data-components="follow" data-follow='{"url":"/follow/","data":{"followable_type":"GeoData","followable_id":"1"}}' role="button">
    follow
  </a>
</div>

