<div>
  <form accept-charset="UTF-8" action="/dummy_action" class="simple_form test" data-components="remoteForm" data-remote="true" id="test" method="get" >
    <p class="field string required test_name">
      <label class="string required" for="test_name">Name</label>
      <input class="string required" id="test_name" name="test[name]" type="text" />
    </p>

    <p>
      <input class="button" name="commit" type="submit" value="submit" />
    </p>
  </form>
</div>
