<div id="container">
  <div id="test" data-components="tabs">
    <ul>
      <li><a href="#panel-1">One</a></li>
      <li><a href="#panel-2">Two</a></li>
    </ul>
    <div id="panel-1">Panel One</div>
    <div id="panel-2">Panel Two</div>
  </div>
</div>
