@import "compass/layout/sticky-footer";

.footer {

  hr { color: $ultra-soft-grey; }

  @include sticky-footer($footer-height, '#main-content', '#main-content-footer', '.footer');
  clear: both;
  width: $canvas-width;
  margin: 50px auto 0;
  padding: 1px 0 20px 60px;


  > div {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 1em;
  }

  .partners {
    text-align: left;

    img { margin: 5px }
  }

  .license {
    width: 200px;
    text-align: justify;
  }

  .it3s-logo     { @include sprite-image($logos-map, it3s); }

  .cea-logo      { @include sprite-image($logos-map, cea-footer); }

  .cenpec-logo   { @include sprite-image($logos-map, cenpec); }

  .aldeias-logo  { @include sprite-image($logos-map, aldeias); }

  .cedaps-logo   { @include sprite-image($logos-map, cedaps); }

  .soudapaz-logo { @include sprite-image($logos-map, sou-da-paz); }

  .polis-logo    { @include sprite-image($logos-map, polis); }
}
